{% load static %}
<!DOCTYPE html>
<html lang="pt-br" class="scroll-smooth">
  {% include 'layouts/head.html' %}
  <body>
    <!-- ====== Navbar Section Start -->
    {% include 'layouts/navbar.html' %}
    <!-- ====== Navbar Section End -->

    <!-- ====== Hero Section Start -->
    {% include 'layouts/hero.html' %}
    <!-- ====== Hero Section End -->

    <!-- ====== Features Section Start -->
    <!-- {% include 'layouts/features.html' %} -->
    <!-- ====== Features Section End -->

    {% block content %} {% endblock %}

    <!-- ====== About Section Start -->
    {% include 'layouts/about.html' %}
    <!-- ====== About Section End -->

    <!-- ====== Pricing Section Start -->
    {% include 'layouts/pricing.html' %}
    <!-- ====== Pricing Section End -->

    <!-- ====== Faq Section Start -->
    <!-- {% include 'layouts/faq.html' %} -->
    <!-- ====== Faq Section End -->

    <!-- ====== Testimonials Start ====== -->
    <!-- {% include 'layouts/testmonials.html' %} -->
    <!-- ====== Testimonials End ====== -->

    <!-- ====== Team Section Start -->
    <!-- {% include 'layouts/team.html' %} -->
    <!-- ====== Team Section End -->

    <!-- ====== Contact Start ====== -->
    <!-- {% include 'layouts/contact.html' %} -->
    <!-- ====== Contact End ====== -->

    <!-- ====== Footer Section Start -->
    {% include 'layouts/footer.html' %}
    <!-- ====== Footer Section End -->

    <!-- ====== Back To Top Start -->
    <a
      href="javascript:void(0)"
      class="hidden items-center justify-center bg-primary text-white w-10 h-10 rounded-md fixed bottom-8 right-8 left-auto z-[999] hover:bg-dark back-to-top shadow-md transition duration-300 ease-in-out"
    >
      <span class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"></span>
    </a>
    <!-- ====== Back To Top End -->

    <!-- ====== All Scripts -->

    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
      // ==== for menu scroll
      const pageLink = document.querySelectorAll(".ud-menu-scroll");

      pageLink.forEach((elem) => {
        elem.addEventListener("click", (e) => {
          e.preventDefault();
          document.querySelector(elem.getAttribute("href")).scrollIntoView({
            behavior: "smooth",
            offsetTop: 1 - 60,
          });
        });
      });

      // section menu active
      function onScroll(event) {
        const sections = document.querySelectorAll(".ud-menu-scroll");
        const scrollPos = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;

        for (let i = 0; i < sections.length; i++) {
          const currLink = sections[i];
          const val = currLink.getAttribute("href");
          const refElement = document.querySelector(val);
          const scrollTopMinus = scrollPos + 73;
          if (
            refElement.offsetTop <= scrollTopMinus &&
            refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
          ) {
            document.querySelector(".ud-menu-scroll").classList.remove("active");
            currLink.classList.add("active");
          } else {
            currLink.classList.remove("active");
          }
        }
      }

      window.document.addEventListener("scroll", onScroll);
    </script>
  </body>
</html>
