{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="pt-br">
  {% include 'layouts/_head.html' %}

  <body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.
      </p>
    <![endif]-->

    <!--====== PRELOADER PART START ======-->

    {% include 'layouts/_preloader.html' %}

    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->

    {% include 'layouts/_header.html' %}

    <!--====== HEADER PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    {% include 'layouts/_services.html' %}

    <!--====== SERVICES PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    {% include 'layouts/_about.html' %}

    <!--====== ABOUT PART ENDS ======-->

    <!--====== SERVICES PART START ======-->

    {% include 'layouts/_single_services.html' %}

    <!--====== SERVICES PART ENDS ======-->

    <!--====== WORK PART START ======-->

    {% include 'layouts/_works.html' %}

    <!--====== WORK PART ENDS ======-->

    <!--====== PRICING PLAN PART START ======-->

    {% include 'layouts/_pricing.html' %}

    <!--====== PRICING PLAN PART ENDS ======-->

    <!--====== TEAM PART START ======-->

    {% include 'layouts/_team.html' %}

    <!--====== TEAM PART ENDS ======-->

    <!--====== BLOG PART START ======-->

    {% include 'layouts/_blog.html' %}

    <!--====== BLOG PART ENDS ======-->

    <!--====== CONTACT PART START ======-->

    {% include 'layouts/_contact.html' %}

    <!--====== CONTACT PART ENDS ======-->

    <!--====== FOOTER PART START ======-->

    {% include 'layouts/_footer.html' %}

    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="scroll-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== PART START ======-->

    <!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

    <!--====== PART ENDS ======-->

    <!--====== Tiny Slider js ======-->
    <script src="{% static 'assets/js/tiny-slider.js' %}"></script>

    <!--====== Wow js ======-->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>

    <!--====== Main js ======-->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
